body {
  background-color: #a2cffe;
}
.tictactoe {
  background-color: #000000; 
  color: #ffff4d; 
  font-family: "Brush Script MT", Cursive;
  font-size: 12pt
}
.proxy:link{
  color: #a2cffe;
}
h2{
  display:inline-block
}
.toeboard{
  width: 96px;
  font-size: 96pt;
  border-style: solid;
  text-align: center;
  padding: 20px;
  display:inline-block
}
button {
  background-color: #90EE90;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
.tictactoe {border-radius: 12px;}